.menu__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
}

.menu-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 12px;
  background-color: var(--color-background-light);
  border: 1px solid var(--color-background-accent);
}

.menu-card__image {
  border-radius: 12px 12px 0 0;
}

.menu-card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding-inline: 10px;
}

.menu-card__title,
.menu-card__price {
  color: var(--color-coffee);
  font-size: 22px;
  font-weight: 700;
}

.menu-card__button {
  position: relative;
  transform: translateY(50%);
}

@media (max-width: 768px) {
  .menu-card {
    max-width: 310px;
  }
}
